apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: spin-gate
  namespace: {{ spinnaker_namespace }}
spec:
  template:
    spec:
      containers:
        - name: gate
          volumeMounts:
            - mountPath: /etc/ssl/certs/java
              name: volume-cacerts
      volumes:
        - name: volume-cacerts
          configMap:
            name: configmap-cacerts
